$font-sans-serif: 'sans-serif';

$color-white: #FFFFFF;
$color-black: #000000;

$size-title-big: 70px;
$size-title-regular: 32px;

$size-text-regular: 18px;
$size-text-small: 16px;

$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
